## 抓取MPC上小行星的数据
作者：AstroHHQ

### selenium 实现

In [2]:
from selenium import webdriver
import time
import json
import pandas as pd

### request 实现

In [3]:
#load import
import numpy as np
import pandas as pd
from urllib.request import urlopen
from requests.api import request

mpcdata = pd.read_table('mpc.txt')
#mpcdata.sort_values('Diam',ascending=False)
sort_data = mpcdata.sort_values('Diam',ascending=False)
#mpcdata['Name'][0]
mp_name = mpcdata["Name"][:]
print(mp_name[0])

1991 VA

/usr/lib/python3/dist-packages/requests/__init__.py:89: RequestsDependencyWarning: urllib3 (1.26.8) or chardet (3.0.4) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({}) doesn't match a supported "

In [4]:
#space to "+"
name = mp_name[5]
name = name.replace(' ','+')
name = '2008+ev5'

In [5]:
#get the html 
#url='https://irsa.ipac.caltech.edu/workspace/TMP_1xtVlX_10857/Gator/irsa/30071/tbview.html'
url = f'https://minorplanetcenter.net/db_search/show_object?utf8=%E2%9C%93&object_id={name}'
import requests as rq
head ={
    'User-Agent':'Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:94.0) Gecko/20100101 Firefox/94.0'
}
resp = rq.get(url,headers=head)
#with open(name+'.html',mode='w') as f:
#   f.write(resp.text)

In [6]:
mptable = pd.read_html(resp.text,match='Location')
df = mptable[0]
df

,Date (UT),J2000 RA,J2000 Dec,Magn,Location,Ref
0,2008 03 04.21432,04 07 59.98,+32 54 57.4,21.0 V,G96 – Mt. Lemmon Survey,MPS 240952
1,2008 03 04.21882,04 08 01.14,+32 55 01.1,20.5 V,G96 – Mt. Lemmon Survey,MPS 240952
2,2008 03 04.22329,04 08 02.18,+32 55 06.3,21.0 V,G96 – Mt. Lemmon Survey,MPS 240952
3,2008 03 04.22774,04 08 03.37,+32 55 09.9,19.8 V,G96 – Mt. Lemmon Survey,MPS 240952
4,2008 03 04.85793,04 10 37.36,+33 06 23.8,NaN,J95 – Great Shefford,MPS 240952
...,...,...,...,...,...,...
1000,2010 03 07.235957,17 16 21.51,+05 59 28.6,NaN,C51 – WISE,MPS 372061
1001,2010 03 07.236084,17 16 21.54,+05 59 28.8,NaN,C51 – WISE,MPS 316784
1002,2010 03 07.302172,17 16 38.10,+05 59 45.1,NaN,C51 – WISE,MPS 316784
1003,2010 04 11.49404,19 58 17.83,+07 11 14.6,20.4 V,291 – LPL/Spacewatch II,MPS 322284
1004,2010 04 11.50588,19 58 21.37,+07 11 13.6,20.1 V,291 – LPL/Spacewatch II,MPS 322284

In [37]:
dfyes = df[df['Location']=='C51 – WISE']
if len(dfyes)>=1:
    dfout = dfyes["Date (UT)"]
    m = dfout.index[0]
    df['Ref'][0] = dfout[m]
    print(m)
else:
    print("no wise data")
df

660

,Date (UT),J2000 RA,J2000 Dec,Magn,Location,Ref
0,2008 03 04.21432,04 07 59.98,+32 54 57.4,21.0 V,G96 – Mt. Lemmon Survey,2010 01 25.148985
1,2008 03 04.21882,04 08 01.14,+32 55 01.1,20.5 V,G96 – Mt. Lemmon Survey,MPS 240952
2,2008 03 04.22329,04 08 02.18,+32 55 06.3,21.0 V,G96 – Mt. Lemmon Survey,MPS 240952
3,2008 03 04.22774,04 08 03.37,+32 55 09.9,19.8 V,G96 – Mt. Lemmon Survey,MPS 240952
4,2008 03 04.85793,04 10 37.36,+33 06 23.8,NaN,J95 – Great Shefford,MPS 240952
...,...,...,...,...,...,...
1000,2010 03 07.235957,17 16 21.51,+05 59 28.6,NaN,C51 – WISE,MPS 372061
1001,2010 03 07.236084,17 16 21.54,+05 59 28.8,NaN,C51 – WISE,MPS 316784
1002,2010 03 07.302172,17 16 38.10,+05 59 45.1,NaN,C51 – WISE,MPS 316784
1003,2010 04 11.49404,19 58 17.83,+07 11 14.6,20.4 V,291 – LPL/Spacewatch II,MPS 322284
1004,2010 04 11.50588,19 58 21.37,+07 11 13.6,20.1 V,291 – LPL/Spacewatch II,MPS 322284