## 抓取MPC上小行星的数据
作者：AstroHHQ

### request 实现

load import & minorplanet list

In [24]:
#load import
import numpy as np
import pandas as pd
from urllib.request import urlopen
from requests.api import request

mpcdata = pd.read_table('mpc.txt')
#mpcdata.sort_values('Diam',ascending=False)
sort_data = mpcdata.sort_values('Diam',ascending=False)
#mpcdata['Name'][0]
mp_name = mpcdata.loc[:,['Name','Diam']]
mp_name.insert(2,'WiseData_time',0)
mp_name

            Name   Diam  WiseData_time
0        1991 VA  0.017              0
1       1994 CJ1  0.156              0
2        1995 CR  0.130              0
3        1995 HM  0.094              0
4        1996 GQ  0.071              0
...          ...    ...            ...
1310   2011 LT17  0.134              0
1311   2014 AY28  0.122              0
1312  2014 QX266  0.091              0
1313  2015 BY310  0.130              0
1314     2012 NP  0.160              0

[1315 rows x 3 columns]

creat a new list of minorplanet(record is there wise data and date)

In [33]:
import requests as rq
#space to "+"
#name = mp_name[5]
#name = name.replace(' ','+')
lenMp = len(mp_name)
#for i in range(len(mp_name)):
total = 0
for i in range(5):
   name = mp_name['Name'][i]
   name = name.replace(' ','+')
   #get url from mpc
   url = f'https://minorplanetcenter.net/db_search/show_object?utf8=%E2%9C%93&object_id={name}'
   head ={
      'User-Agent':'Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:94.0) Gecko/20100101 Firefox/94.0'
   }
   resp = rq.get(url,headers=head)
   #get html table
   mptable = pd.read_html(resp.text,match='Location')
   df = mptable[0]
   #is there wise data?
   dfyes = df[df['Location']=='C51 – WISE']
   if len(dfyes)>=1:
      dfout = dfyes["Date (UT)"]
      total = total + 1
      #get 1st date
      mp_name['WiseData_time'][i] = dfout[dfout.index[0]]
   else:
      mp_name['WiseData_time'][i] = -1
print(f'{total} wise data in {lenMp}') 
mp_name

/tmp/ipykernel_2362829/760779117.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mp_name['WiseData_time'][i] = -1

1 wise data in 1315

/tmp/ipykernel_2362829/760779117.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mp_name['WiseData_time'][i] = dfout[dfout.index[0]]
/home/astrohhq/.local/lib/python3.8/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

            Name   Diam      WiseData_time
0        1991 VA  0.017                 -1
1       1994 CJ1  0.156                 -1
2        1995 CR  0.130                 -1
3        1995 HM  0.094                 -1
4        1996 GQ  0.071  2010 02 05.963786
...          ...    ...                ...
1310   2011 LT17  0.134                  0
1311   2014 AY28  0.122                  0
1312  2014 QX266  0.091                  0
1313  2015 BY310  0.130                  0
1314     2012 NP  0.160                  0

[1315 rows x 3 columns]

In [75]:
#get the html 
#url='https://irsa.ipac.caltech.edu/workspace/TMP_1xtVlX_10857/Gator/irsa/30071/tbview.html'
url = f'https://minorplanetcenter.net/db_search/show_object?utf8=%E2%9C%93&object_id={name}'
import requests as rq
head ={
    'User-Agent':'Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:94.0) Gecko/20100101 Firefox/94.0'
}
resp = rq.get(url,headers=head)
#with open(name+'.html',mode='w') as f:
#   f.write(resp.text)

In [76]:
mptable = pd.read_html(resp.text,match='Location')
df = mptable[0]
df

,Date (UT),J2000 RA,J2000 Dec,Magn,Location,Ref
0,1996 11 09.24553,03 57 19.38,+09 06 15.4,20.2 V,"691 – Steward Observatory, Kitt Peak-Spacewatch",MPC 28228
1,1996 11 09.26663,03 57 14.57,+09 06 14.7,20.1 V,"691 – Steward Observatory, Kitt Peak-Spacewatch",MPC 28228
2,1996 11 10.42857,03 53 05.50,+09 05 26.1,20.4 V,"691 – Steward Observatory, Kitt Peak-Spacewatch",MPC 28228
3,1996 11 10.43970,03 53 03.07,+09 05 25.7,20.0 V,"691 – Steward Observatory, Kitt Peak-Spacewatch",MPC 28228
4,1996 11 10.44918,03 53 01.06,+09 05 24.9,20.2 V,"691 – Steward Observatory, Kitt Peak-Spacewatch",MPC 28228
...,...,...,...,...,...,...
199,2021 11 26.30565,02 29 14.427,+05 35 44.12,21.6 w,"F51 – Pan-STARRS 1, Haleakala",MPS 1517204
200,2021 12 02.166556,02 30 57.75,+06 37 20.6,22.33 G,G96 – Mt. Lemmon Survey,MPS 1517204
201,2021 12 02.176842,02 30 57.97,+06 37 26.3,21.82 G,G96 – Mt. Lemmon Survey,MPS 1517204
202,2021 12 02.182492,02 30 58.01,+06 37 30.1,21.50 G,G96 – Mt. Lemmon Survey,MPS 1517204
203,2021 12 02.188146,02 30 58.08,+06 37 34.1,21.77 G,G96 – Mt. Lemmon Survey,MPS 1517204

In [77]:
dfyes = df[df['Location']=='C51 – WISE']
if len(dfyes)>=1:
    dfout = dfyes["Date (UT)"]
    print(dfout)
else:
    print("no wise data")

no wise data