In [1]:
import numpy as np
import pandas as pd
from tqdm import tqdm
import matplotlib.pyplot as plt
from astropy.time import Time 
namelist = ['2003MA3','2010CO1','2010DG77','2010EX11','2010FC81','2010FH81','2010GS7','2010JN71','2010KX7','2010PW58','2010XP69','2019DD2']
nlist = ['1994cb','1996gq','2002lt24', '2008np3', '2009ux17' ,'2010aj30', '2010bh115' ,'2010ca55' ,'2010cc55' ,'2010cn141','2010dh77' ,'2010fa81' ,'2010gp67' ,'2010hw81' ,'2010hx107', '2010hz104' ,'2010jx16', '2010kp10' ,'2010ku7' ,'2010lh14' ,'2010lj68' ,'2010lk68' ,'2010ll68' ,'2010lv108' ,'2010ns36', '2010ny65', '2010oh126', '2010pu66' ,'2014fd7' ,'2015tf' ,'2016uh101']
alist = namelist + nlist

In [7]:
name = alist[5].lower()
print(name)
rawdata = pd.read_csv(f'{name}.csv')
rawdata = rawdata.loc[:,['mjd','w1mpro','w1sigmpro','w2mpro','w2sigmpro','w3mpro','w3sigmpro','w4mpro','w4sigmpro','ph_qual','sso_flg']]
rawdata.insert(loc=len(rawdata.columns),column='tdbjd',value='no')
rawdata.insert(loc=len(rawdata.columns),column='tdbmjd',value='no')
#rawdata['mjd'] = 2400000.5+rawdata['mjd']
for i in tqdm(range(len(rawdata))):  
    t = Time(rawdata['mjd'][i],format='mjd',scale='utc')
    t.format = 'iso'
    rawdata['tdbjd'][i] = t.tdb.jd
    rawdata['tdbmjd'][i] = t.tdb.mjd
rawdata
data = rawdata.loc[:,['tdbjd','w1mpro','w1sigmpro','w2mpro','w2sigmpro','w3mpro','w3sigmpro','w4mpro','w4sigmpro']]
data1234 = data.loc[:,['w1mpro','w2mpro','w3mpro','w4mpro']]
data1234

2010fh81

  0%|          | 0/41 [00:00<?, ?it/s]/tmp/ipykernel_3117344/1139572964.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rawdata['tdbjd'][i] = t.tdb.jd
/tmp/ipykernel_3117344/1139572964.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rawdata['tdbmjd'][i] = t.tdb.mjd
100%|██████████| 41/41 [00:00<00:00, 852.27it/s]

    w1mpro  w2mpro  w3mpro  w4mpro
0   17.215  15.617  10.322   7.471
1   17.197  15.798  10.522   7.492
2   17.117  14.741  10.277   7.661
3   17.139  15.461  10.435   7.731
4   16.946  14.995  10.388   7.930
5   16.432  15.029  10.489   7.962
6   17.048  14.896  10.902   7.998
7   16.896  14.943  10.650   7.934
8   17.197  15.263  10.697   7.903
9   16.534  15.417  10.461   7.916
10  16.630     NaN  10.672   7.384
11  16.879  15.091  10.918   7.263
12  17.166  15.048  10.475   7.683
13  17.155  15.763  10.151   7.886
14  16.566  14.899  10.240   7.664
15  13.666  13.488  10.964   7.244
16  16.611  15.141  10.696   7.725
17  17.030  15.580  10.121   7.583
18  17.041  15.343  10.501   7.566
19  16.582  15.243  10.344   7.412
20  16.684  14.946  10.900   7.902
21  17.205  14.909  10.559   7.877
22  16.726  14.942  10.628   7.289
23  16.373  13.963   9.287   7.779
24  17.069  13.615   9.280   7.303
25  16.944  13.871   9.298   7.791
26  16.444  13.926   9.072   7.915
27  17.045  14.072   9.261   7.020
28  16.897  14.155   9.398   7.496
29  16.670  14.178   9.223   7.445
30  17.074  14.339   9.379   7.828
31  17.021  14.242   9.381   7.909
32  16.835  14.482   9.418   7.254
33  17.109  14.366   9.465   7.746
34  16.516  14.662   9.509   7.684
35  16.978  14.456   9.634   7.536
36  17.061  15.337   9.890   7.697
37  16.763  15.073   9.918   7.745
38  17.175  15.507  10.102   7.311
39  16.376  15.148  10.358   7.226
40  17.120  15.058  10.234   7.227

In [13]:
datafill = data1234.fillna(method='ffill',axis=1).fillna(method='backfill',axis=1)
datafill

    w1mpro  w2mpro  w3mpro  w4mpro
0   17.215  15.617  10.322   7.471
1   17.197  15.798  10.522   7.492
2   17.117  14.741  10.277   7.661
3   17.139  15.461  10.435   7.731
4   16.946  14.995  10.388   7.930
5   16.432  15.029  10.489   7.962
6   17.048  14.896  10.902   7.998
7   16.896  14.943  10.650   7.934
8   17.197  15.263  10.697   7.903
9   16.534  15.417  10.461   7.916
10  16.630  16.630  10.672   7.384
11  16.879  15.091  10.918   7.263
12  17.166  15.048  10.475   7.683
13  17.155  15.763  10.151   7.886
14  16.566  14.899  10.240   7.664
15  13.666  13.488  10.964   7.244
16  16.611  15.141  10.696   7.725
17  17.030  15.580  10.121   7.583
18  17.041  15.343  10.501   7.566
19  16.582  15.243  10.344   7.412
20  16.684  14.946  10.900   7.902
21  17.205  14.909  10.559   7.877
22  16.726  14.942  10.628   7.289
23  16.373  13.963   9.287   7.779
24  17.069  13.615   9.280   7.303
25  16.944  13.871   9.298   7.791
26  16.444  13.926   9.072   7.915
27  17.045  14.072   9.261   7.020
28  16.897  14.155   9.398   7.496
29  16.670  14.178   9.223   7.445
30  17.074  14.339   9.379   7.828
31  17.021  14.242   9.381   7.909
32  16.835  14.482   9.418   7.254
33  17.109  14.366   9.465   7.746
34  16.516  14.662   9.509   7.684
35  16.978  14.456   9.634   7.536
36  17.061  15.337   9.890   7.697
37  16.763  15.073   9.918   7.745
38  17.175  15.507  10.102   7.311
39  16.376  15.148  10.358   7.226
40  17.120  15.058  10.234   7.227

## M2Flux

In [15]:
#-------initial para-------------------------
#Fv0 of W1 ,W2, W3, W4
Fv0 = [-1,306.682,170.663,29.045,8.284]
#Color corrections  Col[Bv=1:8=(100,141,200,283,400,566,800,1131),fc=1:4=(W1,W2,W3,W4)]
Fc0 = np.zeros((1,8))#W1,W2,W3,W4
Fc1 = np.array([-1,17.2062,3.9096,2.6588,1.0032]) #Bv=100
Fc2 = np.array([-1,4.0882,1.9739,1.4002,0.9852])  #Bv=141
Fc3 = np.array([-1,2.0577,1.3448,1.0006,0.9833])  #Bv=200
Fc4 = np.array([-1,1.3917,1.1124,0.8791,0.9865])  #Bv=283
Fc5 = np.array([-1,1.1316,1.0229,0.8622,0.9903])  #Bv=400
Fc6 = np.array([-1,1.0263,0.9919,0.8833,0.9935])  #Bv=566
Fc7 = np.array([-1,0.9884,0.9853,0.9125,0.9958])  #Bv=800
Fc8 = np.array([-1,0.9801,0.9877,0.9386,0.9975])  #Bv=1131
Fc = [Fc0,Fc1,Fc2,Fc3,Fc4,Fc5,Fc6,Fc7,Fc8]
Fc = np.array(Fc)
Bv = 4
Const = np.array([-1,Fv0[1]/Fc[Bv][1],Fv0[2]/Fc[Bv][2],Fv0[3]/Fc[Bv][3],Fv0[4]/Fc[Bv][4]])
def h2flux(Fconst,dat_H):
    return Fconst*np.power(10,-dat_H/2.5)*1000

/tmp/ipykernel_3117344/2111799643.py:15: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  Fc = np.array(Fc)

In [26]:
#data of W1,W2,W3,W4
dat_w1 = np.array(datafill['w1mpro'])
#dat_w1= np.hstack([dat_w1,dat_w1*0.1])
dat_w2 = np.array(datafill['w2mpro'])
#dat_w2= np.hstack([dat_w2,dat_w2*0.1])
dat_w3 = np.array(datafill['w3mpro'])
#dat_w3= np.hstack([dat_w3,dat_w3*0.1])
dat_w4 = np.array(datafill['w4mpro'])
#dat_w4= np.hstack([dat_w4,dat_w4*0.1])
#dat w1
dat_fluxw1 = dat_w1
dat_fluxw1 = Const[1]*np.power(10,-dat_w1/2.5)*1000 
#dat w2
dat_fluxw2 = dat_w2
dat_fluxw2 = Const[2]*np.power(10,-dat_w2/2.5)*1000 
#dat w3
dat_fluxw3 = dat_w3
dat_fluxw3 = Const[3]*np.power(10,-dat_w3/2.5)*1000 
#print(f'{Const[1]}*{np.power(10,-dat_w3[0]/2.5)}*1000={dat_fluxw3[0]}')
#dat w4
dat_fluxw4 = dat_w4
dat_fluxw4 = Const[4]*np.power(10,-dat_w4/2.5)*1000 
dat234 = np.concatenate([dat_fluxw2,dat_fluxw3,dat_fluxw4],axis=0)
np.savetxt(f'obs.txt.{name}',dat234)
dat234

array([ 0.08691173,  0.07356621,  0.19475042,  0.10034099,  0.15412688,
        0.14937516,  0.16884119,  0.16168823,  0.12041439,  0.10449088,
        0.03418837,  0.14108421,  0.14678389,  0.07597634,  0.1683753 ,
        0.61755891,  0.13473437,  0.08992458,  0.11186092,  0.12265306,
        0.16124208,  0.16683163,  0.16183721,  0.39872953,  0.54938702,
        0.43398867,  0.41255171,  0.36064374,  0.33410148,  0.32709838,
        0.28201902,  0.30837446,  0.24721704,  0.27509228,  0.20944905,
        0.25320857,  0.1124808 ,  0.14344268,  0.09617859,  0.1338685 ,
        0.14543817,  2.4560268 ,  2.04283411,  2.55995954,  2.21326339,
        2.31117644,  2.10587748,  1.43957104,  1.81565404,  1.73873382,
        2.16089219,  1.77923413,  1.41851228,  2.13320749,  2.87496857,
        2.64870201,  1.3596687 ,  1.74033599,  2.95551454,  2.08273061,
        2.40676175,  1.44222527,  1.97439072,  1.85281945,  6.37137403,
        6.4125845 ,  6.30714914,  7.76663867,  6.5257901 ,  5.75218838,
        6.75823207,  5.85373558,  5.84296252,  5.64719911,  5.40795539,
        5.19317671,  4.62842361,  3.65622657,  3.56314176,  3.0076902 ,
        2.37592704,  2.66337979,  8.6246802 ,  8.459467  ,  7.24007393,
        6.78801824,  5.65123023,  5.48710159,  5.30814772,  5.63044863,
        5.79352654,  5.72457172,  9.34421883, 10.44583113,  7.09484645,
        5.88495303,  7.22009647, 10.63023831,  6.82563406,  7.77934444,
        7.90210872,  9.10632195,  5.79886503,  5.93393795, 10.19865735,
        6.49445932, 10.06799522,  6.42307511,  5.72984667, 13.06601043,
        8.42835851,  8.83370721,  6.20787553,  5.76159863, 10.5327797 ,
        6.69488314,  7.08831486,  8.12349656,  7.00394941,  6.70105219,
        9.99408412, 10.80794188, 10.79799198])

In [28]:
for i in range(len(alist)):
    name = alist[i].lower()
    print(name)
    rawdata = pd.read_csv(f'{name}.csv')
    rawdata = rawdata.loc[:,['mjd','w1mpro','w1sigmpro','w2mpro','w2sigmpro','w3mpro','w3sigmpro','w4mpro','w4sigmpro','ph_qual','sso_flg']]
    rawdata.insert(loc=len(rawdata.columns),column='tdbjd',value='no')
    rawdata.insert(loc=len(rawdata.columns),column='tdbmjd',value='no')
    #rawdata['mjd'] = 2400000.5+rawdata['mjd']
    for i in tqdm(range(len(rawdata))):  
        t = Time(rawdata['mjd'][i],format='mjd',scale='utc')
        t.format = 'iso'
        rawdata['tdbjd'][i] = t.tdb.jd
        rawdata['tdbmjd'][i] = t.tdb.mjd
    rawdata
    data = rawdata.loc[:,['tdbjd','w1mpro','w1sigmpro','w2mpro','w2sigmpro','w3mpro','w3sigmpro','w4mpro','w4sigmpro']]
    data1234 = data.loc[:,['w1mpro','w2mpro','w3mpro','w4mpro']]
    datafill = data1234.fillna(method='ffill',axis=1).fillna(method='backfill',axis=1)
    
    #data of W1,W2,W3,W4
    dat_w1 = np.array(datafill['w1mpro'])
    #dat_w1= np.hstack([dat_w1,dat_w1*0.1])
    dat_w2 = np.array(datafill['w2mpro'])
    #dat_w2= np.hstack([dat_w2,dat_w2*0.1])
    dat_w3 = np.array(datafill['w3mpro'])
    #dat_w3= np.hstack([dat_w3,dat_w3*0.1])
    dat_w4 = np.array(datafill['w4mpro'])
    #dat_w4= np.hstack([dat_w4,dat_w4*0.1])
    #dat w1
    dat_fluxw1 = dat_w1
    dat_fluxw1 = Const[1]*np.power(10,-dat_w1/2.5)*1000 
    #dat w2
    dat_fluxw2 = dat_w2
    dat_fluxw2 = Const[2]*np.power(10,-dat_w2/2.5)*1000 
    #dat w3
    dat_fluxw3 = dat_w3
    dat_fluxw3 = Const[3]*np.power(10,-dat_w3/2.5)*1000 
    #print(f'{Const[1]}*{np.power(10,-dat_w3[0]/2.5)}*1000={dat_fluxw3[0]}')
    #dat w4
    dat_fluxw4 = dat_w4
    dat_fluxw4 = Const[4]*np.power(10,-dat_w4/2.5)*1000 
    dat234 = np.concatenate([dat_fluxw2,dat_fluxw3,dat_fluxw4],axis=0)
    np.savetxt(f'obs.txt.{name.upper()}',dat234)

2003ma3

  0%|          | 0/8 [00:00<?, ?it/s]/tmp/ipykernel_3117344/3194642119.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rawdata['tdbjd'][i] = t.tdb.jd
/tmp/ipykernel_3117344/3194642119.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rawdata['tdbmjd'][i] = t.tdb.mjd
100%|██████████| 8/8 [00:00<00:00, 1275.64it/s]

2010co1

100%|██████████| 32/32 [00:00<00:00, 1338.68it/s]

2010dg77

100%|██████████| 16/16 [00:00<00:00, 1245.55it/s]

2010ex11

100%|██████████| 15/15 [00:00<00:00, 1309.57it/s]

2010fc81

100%|██████████| 17/17 [00:00<00:00, 1114.15it/s]

2010fh81

100%|██████████| 41/41 [00:00<00:00, 881.35it/s]

2010gs7

100%|██████████| 14/14 [00:00<00:00, 833.36it/s]

2010jn71

100%|██████████| 19/19 [00:00<00:00, 983.10it/s]

2010kx7

100%|██████████| 30/30 [00:00<00:00, 1167.46it/s]

2010pw58

100%|██████████| 26/26 [00:00<00:00, 1245.28it/s]

2010xp69

100%|██████████| 5/5 [00:00<00:00, 1365.16it/s]

2019dd2

100%|██████████| 23/23 [00:00<00:00, 1016.01it/s]

1994cb

100%|██████████| 21/21 [00:00<00:00, 1073.35it/s]

1996gq

100%|██████████| 55/55 [00:00<00:00, 1365.75it/s]

2002lt24

100%|██████████| 45/45 [00:00<00:00, 1347.63it/s]

2008np3

100%|██████████| 8/8 [00:00<00:00, 1278.41it/s]

2009ux17

100%|██████████| 130/130 [00:00<00:00, 1492.54it/s]

2010aj30

100%|██████████| 10/10 [00:00<00:00, 1341.06it/s]

2010bh115

100%|██████████| 37/37 [00:00<00:00, 1320.80it/s]

2010ca55

100%|██████████| 46/46 [00:00<00:00, 1205.03it/s]

2010cc55

100%|██████████| 10/10 [00:00<00:00, 1218.67it/s]

2010cn141

100%|██████████| 23/23 [00:00<00:00, 1278.33it/s]

2010dh77

100%|██████████| 23/23 [00:00<00:00, 1182.04it/s]

2010fa81

100%|██████████| 148/148 [00:00<00:00, 1452.20it/s]

2010gp67

100%|██████████| 32/32 [00:00<00:00, 1033.79it/s]

2010hw81

100%|██████████| 7/7 [00:00<00:00, 841.26it/s]

2010hx107

100%|██████████| 20/20 [00:00<00:00, 1048.22it/s]

2010hz104

100%|██████████| 16/16 [00:00<00:00, 1102.30it/s]

2010jx16

100%|██████████| 18/18 [00:00<00:00, 884.66it/s]

2010kp10

100%|██████████| 4/4 [00:00<00:00, 894.50it/s]

2010ku7

100%|██████████| 32/32 [00:00<00:00, 1202.33it/s]

2010lh14

100%|██████████| 5/5 [00:00<00:00, 836.95it/s]

2010lj68

100%|██████████| 20/20 [00:00<00:00, 1120.23it/s]

2010lk68

100%|██████████| 8/8 [00:00<00:00, 1099.57it/s]

2010ll68

100%|██████████| 14/14 [00:00<00:00, 1112.42it/s]

2010lv108

100%|██████████| 17/17 [00:00<00:00, 1307.52it/s]

2010ns36

100%|██████████| 13/13 [00:00<00:00, 1077.25it/s]

2010ny65

100%|██████████| 11/11 [00:00<00:00, 871.83it/s]

2010oh126

100%|██████████| 11/11 [00:00<00:00, 963.20it/s]

2010pu66

100%|██████████| 10/10 [00:00<00:00, 896.08it/s]

2014fd7

100%|██████████| 18/18 [00:00<00:00, 1315.33it/s]

2015tf

100%|██████████| 6/6 [00:00<00:00, 903.33it/s]

2016uh101

100%|██████████| 13/13 [00:00<00:00, 1262.67it/s]