## 合并jieguo

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import os.path
import pandas as pd

In [2]:
with open('namelist.txt','r') as f:
    namestr = f.read()
    names = namestr.split()[1:]
f.close()
for i in range(len(names)):
    nstr = names[i]
    names[i] = nstr[:4]+' '+nstr[4:]
names = np.array(names)
#np.savetxt('name.txt',names,fmt='%s')

In [3]:
dfpha = pd.read_table('mpc_final_sort.txt')
dfhv = pd.read_table('wisefinal_hv.txt')
dfcal = pd.read_table('name.txt')
dfcal2 = pd.read_table('name2.txt')
print('dfpha\n',dfpha[:3])
print('dfhv\n',dfhv[:3])
print('dfcal\n',dfcal[:3])
print('dfcal2\n',dfcal2[:3])

dfpha
        Name   Diam    type   PHA  time
0  2019 NC1  0.137    Aten  Near  2021
1   2020 MV  0.062  Apollo  Near  2020
2  2020 QU4  0.142    Amor  Near  2020
dfhv
        Name   Diam Class      H  time
0  2019 NC1  0.137    S*  21.68  2021
1   2020 MV  0.062    S*  23.40  2020
2  2020 QU4  0.142    S*  21.60  2020
dfcal
         Name
0    1994 CB
1    1996 GQ
2  2002 LT24
dfcal2
         Name
0    1999 MN
1   2001 JV1
2  2002 NV16

### 合并已经计算的hv和pha

In [4]:
df = dfcal.merge(dfhv,how = 'left')
df = df.merge(dfpha,how='left')
#df.to_csv('ans_mpc.txt')
df[:3]

        Name   Diam Class      H  time    type   PHA
0    1994 CB  0.156    S*  21.40  2010  Apollo  Near
1    1996 GQ  0.071    S*  23.10  2010    Amor  Near
2  2002 LT24  0.116    S*  22.05  2010    Aten  Near

In [5]:
df2 = dfcal2.merge(dfhv,how = 'left')
df2 = df2.merge(dfpha,how='left')
#df.to_csv('ans_mpc.txt')
df2

         Name   Diam Class      H  time    type          PHA
0     1999 MN  0.156    S*  21.40    -1    Aten  Potentially
1    2001 JV1  0.150    S*  21.48    -1  Apollo  Potentially
2   2002 NV16  0.156    S*  21.40    -1  Apollo  Potentially
3   2009 UX17  0.149    S*  21.50  2010    Amor         Near
4   2010 CB55  0.086    S*  22.70  2010  Apollo         Near
5    2010 DX1  0.142    S*  21.60  2010  Apollo         Near
6   2010 FB81  0.156    S*  21.40  2010    Amor         Near
7   2010 FG81  0.065    S*  23.30  2010    Amor         Near
8   2010 HW81  0.156    S*  21.40  2010  Apollo         Near
9    2010 KA8  0.156    S*  21.40    -1  Apollo         Near
10  2010 PP58  0.113     S  22.10  2010  Apollo         Near
11  2011 BT15  0.136    S*  21.70  2016  Apollo  Potentially
12   2014 OA2  0.149    S*  21.50    -1    Amor         Near
13   2014 VL6  0.157    S*  21.39  2014  Apollo  Potentially
14   2015 YX7  0.118    S*  22.00  2015  Apollo         Near
15   2016 AZ8  0.153    S*  21.44  2016  Apollo  Potentially
16   2016 EV1  0.049    S*  23.90  2016  Apollo         Near
17    2016 KD  0.103    S*  22.30  2016  Apollo         Near
18  2017 KR27  0.059    S*  23.50  2017  Apollo         Near

### 按照是否是pha排序

In [6]:
dfall = dfhv.merge(dfpha,how='left')
#dfall.to_csv('ast_all.txt')
df = dfall.sort_values(by=['PHA','time'],ascending=False)
#df.to_csv('pha_sort.txt')

In [7]:
shstr = 'https://irsa.ipac.caltech.edu/cgi-bin/Gator/nph-query?outfmt=1&searchForm=MO&spatial=cone&catalog=allsky_4band_p1bs_psd&moradius=5&mobj=smo&mobjstr='
nl = list(df['Name'])
for i in range(len(nl)):
    nl[i] = nl[i][:4]+nl[i][5:]
shell = []
for i in nl:
    shell.append(f'curl -o {i}.txt '+'\''+shstr+i+'\'')
shell = np.array(shell)
np.savetxt('allshell.sh',shell,fmt='%s')

In [53]:
df[49:141].sort_values(by='Diam',ascending=False).to_csv('pha_wise.txt')

In [11]:
df[:49].sort_values(by='Diam',ascending=False).to_csv('pha_2010.txt')

### curl shell

In [16]:
shstr = 'https://irsa.ipac.caltech.edu/cgi-bin/Gator/nph-query?outfmt=1&searchForm=MO&spatial=cone&catalog=allsky_4band_p1bs_psd&moradius=5&mobj=smo&mobjstr='

In [15]:
dff = df[:49]
nl = list(dff['Name'])
for i in range(len(nl)):
    nl[i] = nl[i][:4]+nl[i][5:]
nl[:3]

['2020BJ4', '2020UF2', '2020SP4']

In [17]:
shell = []
for i in nl:
    shell.append(f'curl -o {i}.txt '+'\''+shstr+i+'\'')
shell = np.array(shell)
np.savetxt('shell.sh',shell,fmt='%s')

### not pha >2010

In [30]:
nl = list(df[141:280]['Name'])
for i in range(len(nl)):
    nl[i] = nl[i][:4]+nl[i][5:]
shell = []
for i in nl:
    shell.append(f'curl -o {i}.txt '+'\''+shstr+i+'\'')
shell = np.array(shell)
np.savetxt('shell.sh',shell,fmt='%s')

### others

In [63]:
ndf = df[319:].sort_values(by='Diam',ascending=False)
ndf[900:]

                     Name   Diam Class      H  time    type   PHA
280              2016 DN2  0.012    S*  26.90    -1  Apollo  Near
683             2017 QG18  0.012    S*  27.00    -1  Apollo  Near
371            2015 KO122  0.012    S*  27.04    -1  Apollo  Near
458              2020 TD8  0.012    S*  26.90    -1  Apollo  Near
312            2016 EL157  0.011    S*  27.10    -1  Apollo  Near
..                    ...    ...   ...    ...   ...     ...   ...
259  47P/Ashbrook-Jackson    NaN   NaN    NaN     0       ?    -1
260                P000TQ    NaN   NaN    NaN     0       ?    -1
261                P000K7    NaN   NaN    NaN     0       ?    -1
265                P000DV    NaN   NaN    NaN     0       ?    -1
266           333P/LINEAR    NaN     C    NaN     0       ?    -1

[96 rows x 7 columns]

In [55]:
nl = list(ndf['Name'][:200])
for i in range(len(nl)):
    nl[i] = nl[i][:4]+nl[i][5:]
shell = []
for i in nl:
    shell.append(f'curl -o {i}.txt '+'\''+shstr+i+'\'')
shell = np.array(shell)
np.savetxt('shell.sh',shell,fmt='%s')

In [58]:
nl = list(ndf['Name'][200:600])
for i in range(len(nl)):
    nl[i] = nl[i][:4]+nl[i][5:]
shell = []
for i in nl:
    shell.append(f'curl -o {i}.txt '+'\''+shstr+i+'\'')
shell = np.array(shell)
np.savetxt('shell.sh',shell,fmt='%s')

In [62]:
nl = list(ndf['Name'][600:900])
for i in range(len(nl)):
    nl[i] = nl[i][:4]+nl[i][5:]
shell = []
for i in nl:
    shell.append(f'curl -o {i}.txt '+'\''+shstr+i+'\'')
shell = np.array(shell)
np.savetxt('shell.sh',shell,fmt='%s')

In [64]:
nl = list(ndf['Name'][900:])
for i in range(len(nl)):
    nl[i] = nl[i][:4]+nl[i][5:]
shell = []
for i in nl:
    shell.append(f'curl -o {i}.txt '+'\''+shstr+i+'\'')
shell = np.array(shell)
np.savetxt('shell.sh',shell,fmt='%s')